@media screen and (min-width:576px) and (max-width:960px){
    header{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .section1{
        flex-direction: column-reverse;
        box-sizing: border-box;
      }
      .parts2>img{
        width: 100%;
    height: auto;
    object-fit: cover;
    }
    .parts1{
        box-sizing: border-box;
        margin-top: 20px;
   
    }
    .section2{
        flex-direction: column;
    }
    .gamer2{
        text-align: center !important;
        width: 400px;
    }
    /* --- */
    .cards{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    
    }

    
    @media screen  and (max-width:576px){
        header{
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 0px 1px rgb(162, 20, 20);
        }
        nav>ul{
            flex-direction: column;
        }
        nav>ul>li{
            margin: 10px 0;
        }
        
      .section1{
        flex-direction: column-reverse;
        box-sizing: border-box;
      }
      .parts2>img{
        width: 100%;
    height: auto;
    object-fit: cover;
    }
    .parts1{
        box-sizing: border-box;
        margin-top: 20px;
   
    }
    .section2{
        flex-direction: column;
    }
    .gamer2{
        text-align: center !important;
        width: 400px;
        
    }
    .gamer2>p{
        padding: 20px 0;
    }
    .gamer1>img{
        width: 400px !important;
       
    }
    /* ----- */
    .cards{
        display: flex;
        /* padding: 50px 85px; */
        flex-direction: column;
    }
    .card{
        width:100%;
        margin: 10px 0;
    }
    .card>img{
        width: 100%;
        margin-bottom: 10px;
    }
    .card>p{text-align: center;}
    .section4{
        flex-direction: column;
    }
    .textcard{
        padding: 30px;
        color: #fff;
        text-align: justify;
    }
    .text2{
        flex-direction: row;
        padding: 30px;
    }
   .gamesgroup{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
   }
   .games{
    margin: 0;
    padding: 0;
    width: 145px;
   }
   .games>img{
    height: 30px;
    width: 30px;
}
}