*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    --primary:#fe42a4;
    --secondary:#4ec5f7;
}

header{
    display: flex;
    justify-content: space-around;
    /* height: 70px; */
    padding: 20px 0;
    align-items: center;
    box-shadow: 1px 1px 20px 1px lightgray;
}
.logo{
    display: flex;
}
.textColor{
    color: var(--primary);
}
.logo>img{
    height: 30px;
    width: 70px;
    padding: 0 15px;
}
nav>ul{
    display: flex;
}


nav>ul>li{
    list-style-type: none;
    padding: 0 15px;
    padding-top: 11px;
    font-weight: 500;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    
}
.navimg1{
    width: 24px ;
    height: 14px;
    padding: 0 10px;
}.navimg2{
    width: 16px ;
    height: 14px;
}
.follow{
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
}

/* Main Sction CSS: */


.text>h2{
    text-transform: uppercase;
}
.styletext{
    background: rgb(194, 90, 152);
    background: linear-gradient(180deg, #dd21c1fc 45%, #aa53dc 55%);
    color: transparent; 
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: bolder;
    padding: 10px 0;
}

.fa-play {
    border: 1px solid rgb(0, 0, 0);
    
    border-radius: 50%;
    width: 16px;
    height: 18px;
   
}
.lightText{
    color: #534c64;
    padding: 5px 0;
}
.fa-solid, .fa-regular{
    padding-left: 6px;
    padding-top: 3px;
    margin-right: 10px;
    color: red;
}

.text>p{
    margin: 10px 0;
}
.btn1{
    padding: 10px 20px;
   border-radius: 20px; 
   font-size: 15px;
   font-weight: 500;
   border: none;
   color: #fff;
   margin: 10px;
   background-color: var(--primary);
}.btn2{
    font-weight: 500;
   padding: 10px 20px;
   border-radius: 20px; 
   font-size: 15px;
   border: none;
   color: #fff;
   margin: 10px;
   background-color: var(--secondary);
}
.btn1:hover, .btn2:hover{
    cursor: pointer;
}
/*  Gradient Color:

background: rgb(248,72,179);
background: linear-gradient(180deg, rgba(248,72,179,1) 0%, rgba(135,89,240,1) 35%);
*/

.section1{
    display: flex;
    justify-content: space-between;
}
.parts1{
    width: 100%;
   
    padding: 90px 80px 0px 80px ;
   
    background-image: url("./images/Group\ 14.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parts2{
    width: 100%;
   

}

.parts2>img{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    height: auto;
    object-fit: cover;
}
.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.gamer1>img{
    width: 700px;
}
.gamer2{
    text-align: right;
}

.section2{
    background-color: #ddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 100px;
}

.gamecard{
    
    text-align: center;
    margin: 50px 10px;
}
.cards{
   
    display: flex;
    padding: 50px 85px;
    justify-content: space-evenly;
}
.card{
    width: 250px;
   
}
.card:hover .image{
    background-color: #000;
    opacity: 50%;
}
.card>img{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    
}
.card>p{text-align: left;}

.card>img:hover{
    border: 3px solid #fe42a4;
    border-radius: 15px;
}
.section4{
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.div1, .div2{
    
    width: 100%;
    height: 500px;
  
}
.div2>img{
    width: 100%;
    height: 100%;
}
.textcard{
    padding: 50px 100px 0 100px;
    color: #ffffff;
    text-align: justify;
}
.text2{
    color: #fff;
   
    line-height: 1.5rem;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
}
.feture1{
    text-align: left;
}.feture2{
    text-align: right;
}
.btnlast{
    padding: 10px 20px;
    border-radius: 20px; 
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: var(--primary);
    margin: 10px;
    background-color: #fff;
    margin-left: 100px;
}
.gamesgroup{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff9fc;
    padding: 50px 100px;
    justify-content: space-around;


}
.games{
    display: flex;
    
    align-items: center;
    gap: 10px;
    width: 165px;
    padding: 5px;
    margin: 10px 15px;
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: #fff;
}
.games>img{
    height: 40px;
    width: 40px;
}
.games:hover{
    color:var(--primary);
    border: 2px solid var(--primary);
}
/* Footer Section CSS */
footer{
    background-color: #0b0223;
    padding: 80px 0;
    
    text-align: center;
}
.footlogo>h2{
    color: #fff;
   
}

.footlogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footlogo>img{
    height: 30px;
    width: 70px;
    padding: 0 15px;
}
.footernav

.nav>li{
    list-style: none;
    padding: 20px;
}
.footernav>ul>li>a{
    color: #fff;
    text-decoration: none;

}
.nav{
    padding: 20px;
    display: flex;
    align-items: center;justify-content: center;
}
.footericon>i{
    color: #fff;
    font-size: 35px;
    padding: 10px;
    margin: 0 10px;
}
.smalltext{
    color: #fff;
}

.showtext{
    color: #000000;
    /* background-color: #0000008c; */
    position: relative;
    opacity: 0;
    font-weight: 700;
    bottom: 200px;
    padding: 10px;
    border-radius: 8px;
    margin: 0 20px;
  }
  .card:hover .showtext{
    opacity: 10;
    transition: 0.5s;
  }
  .watch{
    color: #000000;
    border: 1px solid #000;
    cursor: pointer;
  }
  .playinstant{

  }
  .playinstant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0 200px 0;
  }
  .img1{
    width: 500px;
    position: relative;
  } .img2{
    width: 250px;
    position: absolute;
    left: 500px;
    bottom: -1800px;
  }
  .playcard1{
    text-align: right;
    padding-right: 200px;
    padding-top: 180px;
  }
  .playcard1>p{
    
  }