*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    --primary:#fe42a4;
    --secondary:#4ec5f7;
}

header{
    display: flex;
    justify-content: space-around;
    /* height: 70px; */
    padding: 20px 0;
    align-items: center;
    box-shadow: 1px 1px 20px 1px lightgray;
}
.logo{
    display: flex;
}
.textColor{
    color: var(--primary);
}
.logo>img{
    height: 30px;
    width: 70px;
    padding: 0 15px;
}
nav>ul{
    display: flex;
}


nav>ul>li{
    list-style-type: none;
    padding: 0 15px;
    padding-top: 11px;
    font-weight: 500;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    
}
.navimg1{
    width: 24px ;
    height: 14px;
    padding: 0 10px;
}.navimg2{
    width: 16px ;
    height: 14px;
}
.follow{
    background-color: #ddd;
    padding: 10px;
    border-radius: 7px;
}

/* Main Sction CSS: */


.text>h2{
    text-transform: uppercase;
}
.styletext{
    background: rgb(194, 90, 152);
    background: linear-gradient(180deg, #dd21c1fc 45%, #aa53dc 55%);
    color: transparent; 
    -webkit-background-clip: text;
    /* font-size: 54px; */
    font-weight: bolder;
    padding: 10px 0;
}

.fa-play {
    border: 1px solid rgb(0, 0, 0);
    
    border-radius: 50%;
    width: 16px;
    height: 18px;
   
}
.fa-solid, .fa-regular{
    padding-left: 6px;
    padding-top: 3px;
    margin-right: 10px;
    color: red;
}

.text>p{
    margin: 10px 0;
}
.btn1{
    padding: 10px 20px;
   border-radius: 20px; 
   font-size: 15px;
   font-weight: 500;
   border: none;
   color: #fff;
   margin: 10px;
   background-color: var(--primary);
}.btn2{
    font-weight: 500;
   padding: 10px 20px;
   border-radius: 20px; 
   font-size: 15px;
   border: none;
   color: #fff;
   margin: 10px;
   background-color: var(--secondary);
}
.btn1:hover, .btn2:hover{
    cursor: pointer;
}
/*  Gradient Color:

background: rgb(248,72,179);
background: linear-gradient(180deg, rgba(248,72,179,1) 0%, rgba(135,89,240,1) 35%);
*/

.section1{
    display: flex;
    justify-content: space-between;
}
.parts1{
    width: 100%;
   
    padding: 90px 80px 0px 80px ;
   
    background-image: url("./images/Group\ 14.png");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parts2{
    width: 100%;
   

}

.parts2>img{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    height: auto;
    object-fit: cover;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.test
{
    display: flex;
}
.text1{
    width: 100%;
    height: 100px;
    border: 2px solid salmon;
}.text2{
    width: 100%;
    height: 100px;
    border: 2px solid salmon;
}